/*Global CSS*/
:root {
  --color-dark-purple-400: #240115;
  --color-rusty-red: #de3c4b;
  --color-electric-blue: #87f5fb;
  --color-dark-purple-200: #2f131e;
  --color-pale-silver: #cec3c1;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Chakra Petch', sans-serif;
}

ul {
  list-style: none;
}
/*
Seguindo a recomendação do MDN(https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type) para boa identificação de alguns programas de acessibilidade.
*/
ul li::before {
  content: '\200B';
}
main {
  margin-top: 53px;
}

article {
  padding: 0.5rem 0.5rem;
  scroll-margin-top: 3rem;
}
/*****************/
button {
  cursor: pointer;
  border-radius: 0.25rem;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

/*My Style CSS*/

.header {
  background-color: var(--color-dark-purple-200);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 1rem;
}

.title {
  color: #fff;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-list > li:hover {
  font-weight: 700;
  color: #fff;
  transform: scale(1.3);
  transition-duration: 500ms;
}

#home {
  background-color: var(--color-rusty-red);
}

.home-container,
.about-container,
.how-to-container,
.contact-container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  column-gap: 0.5rem;
}

.home-container > section:nth-child(1) {
  grid-area: 1 / 1 / 1 / 1;
}
.home-container > section:nth-child(2) {
  justify-content: center;
  grid-area: 2 / 1 / 2 / 2;
}

.home-container > section > h3 {
  font-size: 2rem;
  color: #fff;
  margin: 0;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

.button-positive {
  background-color: #fff;
  font-weight: 700;
  padding: 0.5rem;
  text-transform: uppercase;
  border: 1px solid black;
  transition-duration: 400ms;
}

.button-positive:hover {
  color: #fff;
  background-color: #7ff76f;
  transform: scale(1.1);
}

.button-negative {
  background-color: #fff;
  font-weight: 700;
  padding: 0.5rem;
  text-transform: uppercase;
  border: 1px solid black;
  transition-duration: 400ms;
}

.button-negative:hover {
  color: #fff;
  background-color: #000000;
  transform: scale(1.1);
}

.positive-one {
  background-color: white;
  border-radius: 4px;
  padding: 1rem;
}

.negative-one {
  background-color: white;
  border-radius: 4px;
  padding: 1rem;
}

#about {
  background-color: var(--color-electric-blue);
}
.about-container > section {
  grid-area: 2 / 2 / 3 / 3;
}

.about-container > section > p {
  background-color: white;
  border-radius: 4px;
  padding: 1rem;
}

#how-to {
  background-color: var(--color-pale-silver);
}
.how-to-container > section {
  margin: 0 10rem;
  grid-area: 1 / 1 / 3 / -1;
}

.how-to-container > section > p {
  background-color: white;
  border-radius: 4px;
  padding: 1rem;
}

#contact {
  color: #ffffff;
  background-color: var(--color-dark-purple-200);
}

.contact-container > section {
  grid-area: 1/ 1 / 3 / -1;
  display: flex;
  justify-content: space-around;
}

.contact-container > section > a {
  transition-duration: 400ms;
}

.contact-container > section > a:hover {
  color: var(--color-rusty-red);
  font-weight: 700;
  transform: scale(1.2);
}

.footer {
  height: 50px;
  background-color: var(--color-pale-silver);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > a{
  justify-content: center;
  transition-duration: 400ms;
}

.footer > a:hover {
  color: var(--color-rusty-red);
  font-weight: 700;
  transform: scale(1.2);
}
